<div class="hero-section">
  <div class="hero-overlay"></div>
  <div class="hero-content">
    <span class="badge bg-light text-dark">Craft, Share, Inspire</span>
    <h1 class="blog-title">ThinkHub : Ideas Worth Sharing</h1>
    <p class="text-white">
      <strong>Devs: Sakshi & Arpita</strong> <br />
      March 7th, 2025
    </p>
    <p class="blog-text">
      A blog is not just a place to post your thoughts; it’s a platform where
      you build a community, share stories, inspire others, and engage in
      meaningful conversations. It’s a unique way to leave a digital footprint,
      connect with like-minded people, and contribute something valuable to the
      internet’s vast landscape of information.
    </p>
  </div>
</div>
