<div class="hero-section">
    <div class="hero-overlay"></div>
    <div class="hero-content">
        <span class="badge bg-light text-dark">Leadership</span>
        <h1 class="blog-title">Leadership in times of uncertainty</h1>
        <p class="text-white"><strong>Cristina Kiss</strong> <br> June 27th, 2021</p>
        <p class="blog-text">Let’s tackle the most trending topic nowadays: working from home and how it relates to one of the most sought-after skillsets: leadership.</p>
        <a href="#" class="btn btn-custom">Read More</a>
    </div>
</div>
