<div class="container mt-5">
  <h2>Register</h2>
  <form (ngSubmit)="onRegister()">
    <input
      class="form-control my-2"
      [(ngModel)]="user.username"
      name="username"
      placeholder="Username"
      required
    />
    <input
      class="form-control my-2"
      [(ngModel)]="user.email"
      name="email"
      placeholder="Email"
      required
    />
    <input
      class="form-control my-2"
      [(ngModel)]="user.password"
      name="password"
      type="password"
      placeholder="Password"
      required
    />
    <button class="btn btn-primary mt-2" type="submit">Register</button>
  </form>
</div>
